*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
app/assets/javascripts/node_modules
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/public/uploads/*
.elasticbeanstalk/
.DS_STORE
test/*
db/*.js
log/*