<div class="createShred">
	<div class="banner"><h1>Upload A New Shred</h1></div>

	<section class="content">
		<div class="row">
			<div class="col-lg-6 col-offset-6">
				<label class="error" style="display:none"></label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<p class="lead" for="titleInput">Set Title</p>
			</div>
			<div class="col-lg-6">
				<input type="text" id="titleInput">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<p class="lead" for="descInput">Give it a short description</p>
			</div>
			<div class="col-lg-6">
				<input type="text" id="descInput">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<p class="lead">Upload Video</p>
			</div>
			<div class="col-lg-6">
				<input type="file" id="shredvideo">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<p class="lead">Add A backingtrack (optional)</p>
			</div>
			<div class="col-lg-6">
				<select id="backingTrackSelect">
				  <option>Pick One</option>
				  <option>Clapton Style Blues</option>
				  <option>Fusion Guthrie</option>
				  <option>Rock</option>
				  <option>Metal</option>
				</select>

				<label> Or Add Your Own</label>
				<input type="file"  id="jamTrack">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<p class="lead">Set Style</p>
			</div>
			<div class="col-lg-6">
				<select id="styleInput">
				  <option>Shred</option>
				  <option>Tutorial</option>
				  <option>Cover</option>
				  <option>Gear-Review</option>
				  <option>JamTrack</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<p class="lead" for="tagsInput">Add Tags</p>
			</div>
			<div class="col-lg-6">
				<input type="text" id="tagsInput">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<p class="lead" for="guitarInput">Guitar Used</p>
			</div>
			<div class="col-lg-6">
				<input type="text" id="guitarInput">
			</div>
		</div>
	</section>

	<section class="videoHandle">

		<div class="row">
			<div class="col-lg-4">
				<button class="btn btn-large btn-success" id="publishBtn">Publish</button>
			</div>
			<div class="col-lg-4">

				<div id="leVideo"></div>
				<div id="leAudio"></div>
			</div>
			<div class="col-lg-4 playbackControl">
				<div class="lePlay" style="display:none;">
					<button class="btn" id="playBtn">Play</button>
					<button class="btn" id="stopBtn">Stop</button>
					<button class="btn" id="rewindBtn">Rewind</button>

					<label style="display:block;">Synchronize Audio/Video</label>
					<input type="range" value = "0" id="syncRange" name="points" min="-5000" max="5000"> <label id="rangeVal">0 MS</label>
				</div>
			</div>
		</div>
	</section>

	<section id="createTabsArea">
		<div class="row">
			<div class="col-lg-1"> <li class="icon-chevron-left icon-2x"></li></div>
			<div class="col-lg-10">

				<div class="row tabsArea">
					<img src="/assets/tabs2.png">
					
					<div id="tab-input">
					</div>
				</div>

			</div>
			<div class="col-lg-1"><li class="icon-chevron-right icon-2x"></li> </div>
		</div>
	</section>
</div>