<section id="banner">
      <div class="row banner-content">

            <div class="col-lg-2 profileField">
                  <p>{{user.username}}</p>
                  <img src="/assets/shredder.jpg" class="img-thumbnail">
                  <button type="button" class="btn btn-danger" id="createShred">create</button>
            </div>

            <div class="searchField col-lg-7">
                  <h1>The Shred Stage</h1>
                  <form id="searchForm">
                        <input type="text" placeholder="Search" class="input-lg">
                  </form>
            </div>

            <div class="col-lg-3 categorySection">
                  <div class="categoryField">
                        <p class="lead">Shreds</p>
                  </div>
                  <div class="categoryField">
                        <p class="lead battles">Battles</p>
                  </div>
                  <div class="categoryField">
                        <p class="lead">Shredders</p>
                  </div>
            </div>
      </div>
<section>

<section id="thumbs">
</section>