<div class="dropdown">
	<a href="#" class="dropdown-toggle" data-target="#" role="button" data-toggle="dropdown">
		<i class="navbar-content icon-gittip icon-2x {{#if hasNewFans}}newFansIcon{{/if}}" title="New Notices"></i>
	</a>
		<ul class="dropdown-menu" role="menu">
			{{#each newFanees}}
			<li>
				<p>
					<!--<img src='{{profileImgPath}}'/> -->
					<a href="#shredders/{{_id}}">
						<img class="img-xsmall" src="assets/images/andy.jpg">
						{{username}}
					</a>
					became a fan of you!
				</p>
			</li>		
			{{/each}}
	</ul>
	</i>
</div>