<div class="modal hide fade battle-request" id="challengeModal">

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
	<h3 class="lead">Challenge {{username}} To Battle</h3>
	<img class="battleeImg thumbnail"src="assets/app/images/petrucci.jpg"/> 
</div>


	<div class="modal-body">
		<div class="row-fluid">
			<div class="span5 offset1 leftside">

				<div class="battle-category">
					<i class="icon-bolt icon-large"></i>
					<a href="#" class="selected">Bet You Can't Shred This</a>
					<i class="icon-hand-left"></i>
				</div>

				<div class="battle-category">
					<i class="icon-bitcoin icon-large"></i>
					<a href="#">Shred Something Better In The Same Key</a>
				</div>
				<div class="battle-category">
					<i class="icon-trophy icon-large"></i>
					<a href="#">Shred Something Better Using This Scale</a>
				</div>
				<div class="battle-category">
					<i class="icon-time icon-large"></i>
					<a href="#">Shred Faster Then This</a>
				</div>
				<div class="battle-category">
					<i class="icon-star-empty icon-large"></i>
					<a href="#">Freestyle Battle</a>
				</div>
				<div class="battle-category">
					<i class="icon-wrench icon-large"></i>
					<a href="#">Build Me Up</a>
				</div>

			</div> <!-- /span6 -->


			<!-- VIDEO -->
			<div class="span6 rightside">

				<p><input id="input-rounds" type="text" value="5">Rounds</p>

				<p class="lead">Upload Your Initial<br> Battle-Shred Video</p>
				<form class="form-horizontal" id="addShredForm">
					<input name="shredVideo" type="file" id="challengeFile" placeholder="Browse" />
				</form>

				<input class="input-large" id="input-proposal" type="text" placeholder="Add Your Challenge Proposal">
			</div> <!-- /span6 -->

		</div> <!-- /row-fluid -->
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary">Ready</button>
		<button class="btn btn-danger">Bail-out</button>
	</div>
</div>