<!--
	

-->
<div class="modal hide fade" id="createShred">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
		<h3 class="lead">Create A Shred</h3>
	</div>


	<div class="modal-body">
		<input class="input-large" type="text" placeholder="Shred Title" autofocus>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary">Add Tabs</button>
		<button class="btn btn-danger">Finish</button>
	</div>
</div>