<p class="lead">Create Tabs</p>
<video class="video-js vjs-default-skin battle-video" controls>
	<source src="uploads/4mp4" type='video/mp4'>
</video>

<div class="row-fluid">
	<img src="images/others/tabs2.png"/>
</div>
