<p class="lead">Create Tabs</p>
<video class="video-js vjs-default-skin battle-video" controls>
	<source src="uploads/pres.mp4" type='video/mp4'>
</video>

<div class="row-fluid">

	<div class="tab">
		<img src="images/others/tabs2.png"/>
		<input type="text" id="tab-input" autofocus></input>
	</div>
</div>
