<div class="modal hide fade" id="createShred">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
		<h3 class="lead">Create A Shred</h3>
	</div>


	<div class="modal-body">
		<div id="metaRegion">
			<input class="input-xlarge" type="text" placeholder="Shred Title" autofocus>

			<div class="row-fluid">
				<div class="span4">
					<i class="icon-music icon-2x"></i>
					<input type="text" placeholder="Guitar" class="input-xsmall"/>
				</div> <!-- /span4 -->

				<div class="span4">
					<i class="icon-bolt icon-2x"></i>
					<input type="text" placeholder="Amplifier" class="input-xsmall"/>
				</div> <!-- /span4 -->

				<div class="span4">
					<i class="icon-headphones icon-2x"></i>
					<input type="text" placeholder="Effects" class="input-xsmall"/>
				</div> <!-- /span4 -->
			</div><!-- /row -->

			<div class="row-fluid">

				<div class="span6 leftside">
					<label class="text-error" id="addImageWarning"></label>
						<div class="photo">
							<div id="shred_drop_zone">
								<img class= "thumbnail" src="/assets/app/images/guitarplayer.jpg">
								<label class="label label-inverse photo-label one-line">Drop The File Here</label>
								<div class="orAddFile">
									<span>Or click here</span><input type="file" class="addFile"></div>
							</div>
						</div>
					<div id="vidThumb"></div>

				</div> <!-- /span6 -->

				<div class="span6 rightside">

					<div class="shred-meta">
						<textarea class="span12" placeholder="Describe Your Shred" rows="3"></textarea>
						<div class="button-shiet">
							<i class="icon-tags"></i>
							<i class="icon-music"></i>
							<i class="icon-microphone"></i>
							<i class="icon-globe"></i>
						</div>
					</div>			

					<a class="btn btn-primary add-tabs-btn" href="#">
	  					<i class="icon-music"></i> Add Tabs</a>

				</div> <!-- /span6 -->
			</div><!-- /row -->
		</div> <!-- /meta-region -->
		<section id="tabsRegion"></section>
	</div>	<!-- /modal-body-->

	<div class="modal-footer">
		<button class="btn btn-danger">Finish</button>
	</div>
</div>




<!--
	<div class="shred-meta">
					<textarea class="span12" placeholder="Describe Your Shred" rows="3"></textarea>

					<div class="button-shiet">
						<i class="icon-tags"></i>
						<i class="icon-music"></i>
						<i class="icon-microphone"></i>
						<i class="icon-globe"></i>
					</div>
				</div>

-->