<div class="tags">
	<span class="label">Improvisation</span>
	<span class="label">Tapping</span>
	<span class="label">Chords</span>
	<span class="label">Sweeping</span>
	<span class="label">Fast</span>

	<span class="label">Solo</span>
	<span class="label">Cover</span>
	<span class="label">Acustic</span>
	<span class="label">Gear-review</span>
	<span class="label">Shred</span>
</div>

	
<input type="text" placeholder="Add your own tag" class="input-xsmall" id="addTag"># </input>