	<div class="photo">
		<a href="#" class="thumbnail shredItem">
		<img class="frame-img" src="/uploads/thumbs/{{videoThumbnail}}" alt="">
		</a>
		<h3><a href="/#shredders/{{owner._id}}">{{owner.username}}</a></h3>
		<p>{{title}}</p>
	</div>