<!-- BANNER -->
<div class="jumbotron masthead"style="background: url(assets/app/images/stackwallpaper.jpg) repeat center center">
	<div class="container">
		<h1>Shreddr.</h1>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6">
				<p class="lead">
					<a href="" role="button" class="btn btn-primary btn-large" data-toggle="modal" id="loginBtn">Login</a>
					or
					<a href="#registerModal" class="btn btn-danger btn-large" data-toggle="modal">Register</a>
				</p>
			</div>
			<div class="span3"></div>
		</div>
	</div>
</div>

<!-- Register -->
<div id="registerModal" class="modal hide fade modalAuth" tabindex="-1" role="dialog" aria-hidden="true">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
		<h3>Become a Shreddr</h3>
	</div>
	<form class="form-horizontal" action="users/create" method="post">
		<div class="modal-body">
			<input type="text" id="regUsername" placeholder="Username">
			<input type="text" id="regEmail" placeholder="Email">
			<input type="password" id="regPassword" placeholder="Password">
			<input type="password" id="regPassword2" placeholder="Password. Again.">
			<p class="error-msg" id="reg-error-msg"></p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" id="regBtn">Done</button>
			<button class="btn" data-dismiss="modal">Later</button>
		</div>
	</form>
</div>


<!-- SIGN IN -->
<div id="authenticate"class="modal hide fade modalAuth" tabindex="-1" role="dialog" 
aria-labelledby="myModalLabel" aria-hidden="true">

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
	<h3 id="myModalLabel">Login to Shreddr</h3>
</div>
<form class="form-horizontal">
	<div class="modal-body">
		<input type="text" id="inputUsername" placeholder="Username">
		<input type="password" id="inputPassword" placeholder="Password">
		<p class="error-msg" id="auth-error-msg"></p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" id="authBtn">Login</button>
		<button class="btn" data-dismiss="modal">Close</button>
	</div>
</form>
</div>


<div class="container below-banner">
	<div class="navbar navbar-fixed">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><a href="#">Home</a></li>
				<li class="divider-vertical"></li>
				<li><a href="#">Top Shreds</a></li>
				<li class="divider-vertical"></li>
				<li><a href="#">Shredder of the week</a></li>
				<li class="divider-vertical"></li>
				<li><a href="#">New Shreds</a></li>
			</ul>
		</div>
	</div> <!-- /.navbar -->


	<div class="marketing">
		<div class="row-fluid">
			<div class="span4">
				<img src="assets/app/images/zakk.jpg" style="width:160px;" class="img-rounded">
				<h2>Share your shred vidz</h2>
				<p class="lead">Record and upload a video of you shredding away
					a blasting guitar lick. Get it rated by other shredders and add
					one or more tags to it, so others will see it in their shred pool.</p>
				</div>
				<div class="span4">
					<img src="assets/app/images/battle.jpg" style="width:160px;" class="img-rounded">
					<h2>Battle other shredders</h2>
					<p class="lead">Challenge a shredder to a unique guitar battle.
						Let other shredders watch and rate your performance, and you will
						earn experience points. Points will help you level up to
						eventually become a shred master!</p>
					</div>
					<div class="span4">
						<img src="assets/app/images/Slash_Marshalls.jpg" style="width:160px;"class="img-rounded">
						<h2>Share your guitar rig</h2>
						<p class="lead">Create a beautiful profile displaying
							all the guitars, amps and other awesome equiptment
							you use. Upload sound tests to let us hear and rate the sound of your rig!</p>
						</div>
					</div> <!-- /.row-fluid -->


					<hr class="soften">
					<div id="topShreds"></div>
					<hr class="soften">
					<div id="sotw"></div>
					<hr class="soften">
					<h1>New and Neat Shredders</h1>
					<div id="sweetShredders"></div>

					<hr class="soften">

					<h1>Social</h1>

					<div class="row">

						<div class="span2">
							<a href="https://twitter.com/michaelGunnulf" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @michaelGunnulf</a>
							<script>
								!function(d,s,id){
								var js
								,fjs=d.getElementsByTagName(s)[0];

								if(!d.getElementById(id)){
								js=d.createElement(s);
								js.id=id;
								js.src="//platform.twitter.com/widgets.js";
								fjs.parentNode.insertBefore(js,fjs);
							}}(document,"script","twitter-wjs");
						</script>

					</div> <!-- /span2 -->
					<div class="span2 social">
						<a href="https://github.com/sslash" >
							<img src="github-icon.jpg" alt="GitHub"></a>
						</div>
						<div class="span2 social">
							<a href="http://www.linkedin.com/in/michaelgunnulfsen" >
								<img src="linked.png" alt="LinkedIn"></a>
							</div>						
							<div class="span2 social">
								<a href="http://www.facebook.com/Michael.Kolleskov.Gunnulfsen" >
									<img src="face.png" alt="Facebook"></a>
								</div>

								<div class="span2 social">
									<a href="http://instagram.com/michaelkolleskov" >
										<img src="insta.png" alt="Instagram"></a>
									</div>
									<div class="span2 social">
										<a href="http://stackoverflow.com/users/2032753" >
											<img src="stackoverflow.png" alt="Stack Overflow"></a>
										</div>
									</div> <!-- /row -->


								</div> <!-- /.marketing -->
							</div> <!-- /.container-->
