<div class="modal hide fade" id="badgeModal">

	<div class="modal-header">
		<h3>{{title}}</h3>
	</div>


	<div class="modal-body">
		<p>
			<img src="/images/icons/pick-icon-30.png">
		</p>
		<p class="lead">
			{{description}}
		</p>

		<p>XP gained: {{xpGained}}</p>

	</div>

	<div class="modal-footer">
		<button class="btn btn-success" id="okBadgeBtn" data-dismiss="modal">Ok</button>
	</div>
</div>