<div class="battle-videos row">
	<div class="col-lg-6" id="leftBattler">
		<video id="leftVideoFile1">
			<source src="/assets/shred1.mp4"></source>
		</video>

		<video id="leftVideoFile2" style="display:none;">
			<source src="/assets/shred4.mp4"></source>
		</video>

		<video id="leftVideoFile3" style="display:none;">
			<source src="/assets/shred5.mp4"></source>
		</video>
	</div>

	<div class="col-lg-6" id="rightBattler">
		<video id="rightVideoFile1" >
			<source src="/assets/shred2.mp4"></source>
		</video>

		<video id="rightVideoFile2" style="display:none;">
			<source src="/assets/shred3.mp4"></source>
		</video>

		<video id="rightVideoFile3" style="display:none;">
			<source src="/assets/shred6.mp4"></source>
		</video>
	</div>
</div>

<div class="container">
	<div class="row">
		<audio id='audioFile'> + 
            <source src="/assets/backingtrack.mp3" type="audio/mpeg">
            <embed height='50' width='100' src="/assets/backingtrack.mp3">
		</audio>
	</div>
</div>