<div class="battle-videos">
	<div id="leftBattler">
		<video id="leftVideoFile1" width="550">
			<source src="/assets/shred1.mp4"></source>
		</video>

		<video id="leftVideoFile2" width="550" style="display:none;">
			<source src="/assets/shred4.mp4"></source>
		</video>

		<video id="leftVideoFile3" width="550" style="display:none;">
			<source src="/assets/shred5.mp4"></source>
		</video>
	</div>

	<div id="rightBattler">
		<video id="rightVideoFile1" width="550" >
			<source src="/assets/shred2.mp4"></source>
		</video>

		<video id="rightVideoFile2" width="550" style="display:none;">
			<source src="/assets/shred3.mp4"></source>
		</video>

		<video id="rightVideoFile3" width="550" style="display:none;">
			<source src="/assets/shred6.mp4"></source>
		</video>
	</div>
</div>

<div class="container">
	<div class="row">
		<audio id='audioFile'> + 
            <source src="/assets/backingtrack.mp3" type="audio/mpeg">
            <embed height='50' width='100' src="/assets/backingtrack.mp3">
		</audio>
	</div>
</div>