<div class="fullscreen">
  <img src="assets/banners/banner1.jpg" id="landingPageImg" alt="">


  <section id="main-area">
    <div class="container">

      <div class="signup-form">
        <img src="/assets/icons/logo_sm_white.png">

        <div class="row">
          <h1>Coming Soon</h1>
        </div>

        <div class="row">
        <h4>Enter your email address and we'll</h4>
        <h4>let you know as soon as it's ready</h4>
      </div>

      <div class="row">
        <form role="form">
            <input type="email" class="form-control" id="emailInput" placeholder="Email address">
          <button type="submit" class="btn btn-default">Go</button>
        </form>
      </div>

        <label>&copy; Shredr. All rights reserved.</label><i class="icon-twitter"></i><a href="#">Contact</a>
      </div>
    </div>

  </section>
</div>