#battle-area{
	top: 4%;
	width:100%;
	position: absolute;

	.battle-videos {
		width:100%;
		#leftBattler {
			left:200px;
			display: inline-block;
			position: absolute;
		}

		#rightBattler{
			right:200px;
			display: inline-block;
			position: absolute;
		}
	}
}