@import 'variables';

.battle {
	.battle-video {
		width: 100%;
	}

	.underShredImage {
		background-color: lightgray;
	}

	i {
		cursor: pointer;
		&:hover { color:@blue;};
	}

	.vs {
	  margin-top:50%;
	}

	h1.vs{
	  color: @blue;
	}

}