#tabsRegion{
	video {
		width: 420px;
	}

	.tab {
		position: relative; 
   		width: 100%; /* for IE 6 */
   		label {
			position: absolute;
			font-size: 12px;
			font-weight:bold;
		}
	}

	#tab-input {
		position: absolute;
		top: 5px;
		left: 160px;
		width: 13px;
		height: 4px;
		font-size: 10px;
	}
}
