/*
* Create new Shred
* Upload Shred btn
* Drag file image
* Tags - new
* Tags - From list
* Guitar used
* Amp used
* Effects used
* Description
* Title
* Social: Face, google+, twitter;
*
*/

#createShred {
	width: 780px;
	max-height:600px;
	left:44%;
	top:6%;
	text-align: center;

	.input-error{
		border-color: #b94a48;
	}

	.error-msg {
		display:none;
		color:#b94a48;
	}

	.close {
		color: black;
		margin-top: -8px;
		margin-right: -14px;
		opacity: 0.9;
		width: 33px;
		&:hover {color: #1abc9c;};
	}

	.pull-right{
		float:left;
		.icon-stack {
			&:hover {color:1abc9c;}
			cursor:pointer;
			margin-right: 5px;
		}
	}

	.modal-body {
		max-height: 455px;
		input[type="text"].input-xsmall {
			height: 4px;
			width: 130px;
		}

		.icon {
			width:26px;
			margin-right:10px;
			margin-top: -10px;
		}
	}

	.add-tabs-btn {
		margin-top: 20%;
	}

	.shred-meta {
		margin-top: 3%;
		border: 2px solid #1abc9c;

		textarea {
			resize: none;
			border: none;
		}

		.button-shiet {
			background-color: @grayLighter;
			i {
				padding-left:12%;
				padding-right:12%;
			}
		}
	}

	.popover-content {
		.row-fluid {
			margin : 0;
		}
		span {
			font-size: 10px;
			padding-top: 1px;
			cursor:pointer;
			padding-bottom: 1px;
			&:hover {
				background-color:@blue;
			};
		}
		input {
			margin-top: 10px;
		}
	}
}