.fullscreen {
	position:relative;
	width:100%;

	#landingPageImg {
	  left: 0; 
		
	  /* Preserve aspet ratio */
	  min-width: 100%;
	  min-height: 100%;
	}

	#main-area {
		top: 15%;
		width:100%;
		position: absolute;
		.container {
			text-align: center;
			color:white;
			.signup-form {
				//* margin-right: 10%;
				// margin-left: 10%; */
				width: 50%;
				margin: auto;
				background: rgba(0, 0, 0, 0.6);
				padding-top: 6%;
				padding-bottom: 3%;
				padding-left: 12%;
				padding-right: 12%;

				img {
					width:70%;
				}

				.row {
					margin-top: 5%;

					input {
						width: 70%;
						display: inline-block;
					}
					&.last {
						margin-bottom:25%;
					}
				}
			}
		}
	}
}