.fullscreen {
	position:relative;
	width:100%;

	#landingPageImg {
	  left: 0; 
		
	  /* Preserve aspet ratio */
	  min-width: 100%;
	  min-height: 100%;
	}

	#main-area {
		top: 4%;
		width:100%;
		position: absolute;
		.container {
			text-align: center;
			color:white;
			.signup-form {

				h1 {
					font-size: 4.5em;
				}
				h4 {
					font-size: 1.6em;
					font-weight: 200;
					margin: 3px;
					letter-spacing: 2px;
				}
				width: 65%;
				margin: auto;
				background: rgba(0, 0, 0, 0.6);
				padding-top: 6%;
				padding-bottom: 2%;
				padding-left: 8%;
				padding-right: 8%;

				img {
					width:60%;
				}

				.row {
					margin-top: 5%;

					input {
						width: 56%;
						display: inline-block;
					}

					.btn {
						padding: 8px 22px;
					}

					&.last {
						margin-bottom:25%;
						margin-top: 8%;
					}
				}

				label {
					font-weight:inherit;
				}

				a {
					color : white;
				}

				i {
					margin-left: 20px;
					margin-right: 20px;
				}
				.error {
					color: red;
				}
			}
		}
	}
}