@import "twitter/bootstrap/variables";
.navbar {
	i {
		color:#777777;
		cursor:pointer;
		margin-right: 10px;
		&:hover {color:@blue;}
	}
	.navbar-icon {
		margin-top:6px;
	}
	

	li {
		a.navbar-content {
			padding:0;
			img {
				margin-top: 2px;
				border-radius: 2px;
			}
		}
		.popover{
			color: black;
			width:400px;
		}
		.newFansIcon {
			color:red;
		}
	}

	.dropdown-menu {
		width: 320px;

		li {
			border-bottom-style: solid;
			border-bottom-color: lightGray;
			border-bottom-width: 1px;
			margin-bottom:2px;
			cursor: pointer;

			&:hover {
				background-color: lightsteelblue;
			}
		}

		a {
			display: block;
			text-align: left;
			margin-left:6px;
		}
	}
}